version: '3.8'

services:
  web:
    build:
      context: ./
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000
    env_file: .env
    stdin_open: true
    tty: true
    volumes:
      - ./:/home/node/app
      - node-modules:/home/node/app/node_modules
    command:
      npm run dev

volumes:
  node-modules:
    driver: local
    driver_opts:
      type: none
      device: ${PWD}/node_modules
      o: bind